<ion-view view-title="Inicio" hide-back-button="true">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero home-background slide-up" style="background-image: url('img/background.jpg');">
            <div class="content image-container">
                <div class="avatar" style="background-image: url('img/profile.png');"></div>
            </div>
        </div>
        <h4 class="content padding double-padding-x">¡Bienvenido {{user.nombre}} {{user.apellidos}}!</h4>
        <h5 class="content padding double-padding-x">Fiestas sanas y responsables</h5>
    </ion-content>
</ion-view>
