<ion-view view-title="Inicio" hide-back-button="true">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero home-background slide-up" style="background-image: url('img/bureo-background.png');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/profile.png');"></div>
                <h3><a class="light">{{usuario}}</a></h3>
            </div>
        </div>
        <h4 class="content padding double-padding-x">¡Bienvenido {{nombre}} {{apellidos}}!</h4>
        <h5 class="content padding double-padding-x">Bureo, bureo y más bureo.</h5>
    </ion-content>
</ion-view>
