<ion-view view-title="Login" align-title="left">
    <ion-content style="background-color: #fbc02d;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="bureo-logo"></div>
                <h2>¡Esto se va a poner bien!</h2>
            </div>
        </div>
        <div class="padding">
            <button ui-sref="app.home" class="button button-full button-assertive ink login-button facebook-login">Facebook</button>
            <button ui-sref="app.home" class="button button-full button-assertive ink login-button google-login">Google</button>
            <button ui-sref="app.signup" class="button button-full ink login-button sign-up-button">Crear cuenta</button>
        </div>
    </ion-content>
</ion-view>