<ion-view view-title="Party">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero party-background" style="background-image: url('img/party/party-background.jpg');">
            <div class="content">
            	<h1>{{fiesta.nombre}}</h1>
            </div>
        </div>
        <div class="party-description">
        	<h2>Descripción</h2>
        	{{fiesta.descripcion}}
        <div>
        <div class="party-icons">
        </div>
    </ion-content>
</ion-view>