<ion-view view-title="Fiesta en ... > ">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list publishForm" name="publishForm">            
            <div class="padding">
                <h4>¿Qué tipo de música?</h4>
                <button class="button button-block button-calm ink" ui-sref="app.publish_price"> Pop </button>
                <button class="button button-block button-calm ink" ui-sref="app.publish_price"> Rock </button>
                <button class="button button-block button-calm ink" ui-sref="app.publish_price"> Heavy </button>
                <button class="button button-block button-calm ink" ui-sref="app.publish_price"> Indie </button>
                <button class="button button-block button-calm ink" ui-sref="app.publish_price"> Latino </button>
            </div>            
    </ion-content>
</ion-view>