<ion-view view-title="Publica tu fiesta">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list publishForm" name="publishForm">            
            <div class="padding">
                <h4>Elige el lugar</h4>
             	<button class="button button-block button-calm ink" ui-sref="app.publish_music"> Casa </button>
            	<button class="button button-block button-calm ink" ui-sref="app.publish_music"> Local Comercial </button>
            </div>            
    </ion-content>
</ion-view>