<ion-view view-title="Fiesta en ... > Musica ...">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list publishForm" name="publishForm">            
            <div class="padding">
                <h4>Precio y cantidad de invitados</h4>
                <label class="item item-input item-floating-label"> <span class="input-label">Precio por persona</span> <input type="text" placeholder="Precio por persona"> </label> 
                <label class="item item-input item-floating-label"> <span class="input-label">Número de invitados</span> <input type="text" placeholder="Número de invitados"> </label> 
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1"> Aceptar </button>
            </div>            
    </ion-content>
</ion-view>