<ion-view view-title="Start" align-title="left">
    <ion-content style="background-color: #fbc02d;">
        <div class="hero no-header flat logo-container">
            <div class="content">
                <div class="bureo-logo2"></div>
            </div>
        </div>
        <div class="padding login-buttons">
            <button ui-sref="app.home" class="button button-full button-assertive ink login-button facebook-login" disabled="disabled">Facebook</button>
            <button ui-sref="app.home" class="button button-full button-assertive ink login-button google-login" disabled="disabled">Google</button>
            <button ui-sref="app.signup" class="button button-full ink login-button sign-up-button">Crear cuenta</button>
        </div>
    </ion-content>
</ion-view>