<ion-view view-title="Publicar Party">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list publishForm" name="publishForm">            
            <div class="padding">
                <h4>¿Qué tipo de música?</h4>
                <button class="button button-block button-calm ink" ng-click="set_music('Pop')" ui-sref="app.publish_price"> Pop </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Rock')" ui-sref="app.publish_price"> Rock </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Heavy')" ui-sref="app.publish_price"> Heavy </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Indie')" ui-sref="app.publish_price"> Indie </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Latino')" ui-sref="app.publish_price"> Latino </button>
                <button class="button button-block button-calm ink" ng-click="set_music('House')" ui-sref="app.publish_price"> House </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Flamenco')" ui-sref="app.publish_price"> Flamenco </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Reggaeton')" ui-sref="app.publish_price"> Reggaeton </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Comercial')" ui-sref="app.publish_price"> Comercial </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Hip-Hop')" ui-sref="app.publish_price"> Hip-Hop </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Blues')" ui-sref="app.publish_price"> Blues </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Reggae')" ui-sref="app.publish_price"> Reggae </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Clasica')" ui-sref="app.publish_price"> Clásica </button>
                <button class="button button-block button-calm ink" ng-click="set_music('Variada')" ui-sref="app.publish_price"> Variada </button>
            </div>            
    </ion-content>
</ion-view>